<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.review.mapper.ReviewMapper">
	<select id="selectList" resultType="review" parameterType="String">
		SELECT * 
		FROM review
		WHERE goods_code = #{goodsCode}
		ORDER BY 1
	</select>
	
	<select id="selectOne" resultType="review" parameterType="int">
		SELECT *
		FROM review
		WHERE review_code = #{reviewCode}
	</select>
	
	<insert id="insertReview" parameterType="review">
		INSERT INTO review(review_code, goods_code, title, content, stars, review_date)
		VALUES (review_seq.NEXTVAL, #{goodsCode}, #{title}, #{content}, #{stars}, SYSDATE)
	</insert>
	
	<update id="updateReview" parameterType="review">
		UPDATE review
		SET title = #{title}, content=#{content}, stars=#{stars}
		WHERE review_code = #{reviewCode}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE review
		WHERE review_code = #{reviewCode}
	</delete>
	
	<select id="selectListPaging" resultType="review">
		SELECT b.* FROM
			(
			SELECT ROWNUM rn, a.*
			FROM
				(
				SELECT r.*, m.member_name name
				FROM review r
				JOIN member m
				ON r.member_code = m.member_code
				WHERE board_no = #{boardNo}
				ORDER BY 1 desc
				) a 
			) b
		<![CDATA[
		WHERE b.rn > (#{page}-1)*5 AND b.rn <= #{page}*5
		]]>
	</select>
</mapper>