<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.review.mapper.ReviewMapper">
	<select id="selectList" resultType="review" parameterType="String">
		SELECT * 
		FROM review
		WHERE goods_code = #{goodsCode}
		ORDER BY 1
	</select>
	
	<select id="selectOne" resultType="review" parameterType="int">
		SELECT *
		FROM review
		WHERE review_code = #{reviewCode}
	</select>
</mapper>