<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.cart.mapper.CartMapper">
	<select id="selectList" resultType="cart" parameterType="int">
  		select c.cart_code, c.quantity, c.goods_code, c.member_code, g.goods_name, g.price, g.thumb_image
		from cart c join goods g on c.cart_code = g.goods_code
		where member_code = #{memberCode}
		order by 1
  	</select>
  	<insert id="insertCart" parameterType="cart">
  		insert into cart values (cart_seq.nextval, #{quantity}, #{memberCode}, #{goodsCode})
  	</insert>
  	<delete id="deleteCart" parameterType="int">
  		delete from cart where cart_code = #{cartCode}
  	</delete>
  	<update id="updateCart" parameterType="cart">
  		update cart set quantity = #{quantity} where cart_code = #{cartCode}
 	</update>