<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.goods.mapper.GoodsMapper">
<!-- 	<select id="selectList" resultType="goods">
		select * from goods
		<where>
			<if test = 'category != null'>
				category = #{category}
			</if>
		</where> order by 1
	</select> -->
	
 	<select id="selectList" resultType="goods">
		SELECT b.* FROM
		    (
		    SELECT ROWNUM rn, a.*
		    FROM
		        (
		        select * from goods
				<where>
				<if test = 'category != null and category != ""'>
				category = #{category}
				</if>
				</where> 
				
				<if test = 'sort != null and sort != ""'>
				order by ${sort} desc
				</if>
				<if test = 'sort == null'>
				order by goods_name
				</if>
		        ) a
		    ) b
			<![CDATA[
			WHERE b.rn > (#{page}-1)*12 AND b.rn <= #{page}*12
			]]>
	</select>
	
 	<select id="selectOne" resultType="goods" parameterType="string">
		select  GOODS_CODE,
				GOODS_NAME,
				COMPANY,
				PRICE,
				CATEGORY,
				THUMB_IMAGE,
				DETAIL_IMAGE,
				WEIGHT,
				UNIT,
				ALLERGY,
				CALORIE,
				NA,
				CARBO,
				SUGAR,
				SFAT,
				PROTEIN 
		  from  goods 
		 where goods_code = #{gcode}
	</select>
	
 	<select id="selectSearch" resultType="goods">
 		SELECT b.* FROM
		    (
		    SELECT ROWNUM rn, a.*
		    FROM
		        (
		        select * from goods
				<where>
				<if test = 'keyword != null'>
				goods_name like '%'||#{keyword}||'%'
				</if>
				</where> order by 1
		        ) a
		    ) b
			<![CDATA[
			WHERE b.rn > (#{page}-1)*12 AND b.rn <= #{page}*12
			]]>
 	
<!--  		select * from goods where goods_name like '%'||#{keyword}||'%' order by 1 -->
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) 
		  from goods
		<where>
		<if test = 'category != null'>
		category = #{category}
		</if>
		<if test = 'keyword != null'>
		and goods_name like '%'||#{keyword}||'%'
		</if>
		</where>
	</select>
	
 	<select id="selectRecommend" resultType="goods">
 		SELECT goods_code, count, goods_name, price, thumb_image,
 		CASE category when '비스킷/크래커' then '비스킷'
 		when '쿠키/파이' then '쿠키'
 		when '유기농/전통과자' then '유기농'
 		when '젤리/캐러멜' then '젤리'
 		when '사탕/껌' then '사탕'
 		when '베이커리/잼' then '베이커리'
 		when '과자/간식세트' then '과자'
 		else category end as category
 		
 		FROM    (   SELECT ROWNUM rn, a.*	    FROM       (
 		 	
		select d.goods_code, count(d.goods_code) count, g.goods_name, g.price, g.thumb_image, g.category
		from detail d, goods g
		where d.goods_code = g.goods_code
		<if test = 'category != null and category != ""'>
		and category = #{category}
		</if>
		group by d.goods_code, g.goods_name, g.price, g.thumb_image, g.category 
		order by 2 desc
		
		 ) a		    ) b				WHERE  b.rn <![CDATA[ <= ]]>  #{num}
	</select>
</mapper>