<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.goods.mapper.GoodsMapper">
	<select id="selectList" resultType="goods">
		select * from goods
		<where>
			<if test = 'category != null'>
				category = #{category}
			</if>
		</where> order by 1
	</select>
	
 	<select id="selectOne" resultType="goods" parameterType="string">
		select * from goods where goods_code = #{gcode}
	</select>
	
 	<select id="search" resultType="goods" parameterType="string">
		select * from goods where goods_name like '%'||#{keyword}||'%' order by 1
	</select>
</mapper>