<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.detail.mapper.DetailMapper">
	<select id="selectDetail" parameterType="String" resultType="detail">
		SELECT *
		FROM   detail
		WHERE  order_code = #{ordersCode}
	</select>
	<insert id="insertDetail" parameterType="String">
		INSERT INTO detail (detail_code, order_code, goods_code, quantity, detail_price)
		SELECT detail_seq.NEXTVAL, #{orderCode}, c.goods_code, c.quantity, g.price
		FROM   cart c
		LEFT JOIN  goods g
		ON c.goods_code = g.goods_code
		WHERE c.member_code = (SELECT member_code
        		                FROM orders
            		            WHERE order_code = #{orderCode});
	</insert>

</mapper>