<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.member.mapper.MemberMapper"> 

  <select id="selectMember" resultType="member">
    select * from member where id=#{id} and pw=#{pw}
  </select>
  
  <select id="selectOne" resultType="member" parameterType="String">
    select * from member where member_code=#{memberCode}
  </select>

  <select id="selectList" resultType="member">
	select * from member
  </select>
  
  <insert id="insertMember" parameterType="member">
  	insert into member
  	values(concat('M-', lpad(member_seq.nextval, 5, 0)), #{id}, #{pw}, #{memberName}, #{memberPhone}, #{memberAddress}, #{email}, #{memberAddressDetail}, #{memberPostcode})
  </insert>
  
  <select id="selectId" resultType="int" parameterType="String">
  	select count(*) from member where id = #{id}
  </select>
  
  <update id="updateMember" parameterType="member">
  	update member set member_phone = #{memberPhone}, member_address = #{memberAddress}, member_address_detail = #{memberAddressDetail}, member_postcode = #{memberPostcode} where id = #{id}
  </update>
  
  <select id="findId" resultType="String">
  	select id from member where member_name=#{memberName} and member_phone=#{memberPhone}
  </select>
</mapper>