<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.like.mapper.LikeMapper">
	<select id="selectList" parameterType="String" resultType="like">
		SELECT
		c.cart_code, c.member_code, c.quantity, g.goods_name, g.price, g.thumb_image
		FROM cart c JOIN goods g
		ON c.goods_code = g.goods_code
		WHERE c.member_code = #{memberCode}
	</select>
	
	<insert id="insertLike" parameterType="String">
  		insert into likes values (#{memberCode}, #{goodsCode})
  	</insert>
  	
  	<select id="checkLike" resultType="like" parameterType="String">
    	select * from likes 
    	where member_code = #{memberCode} and goods_code = #{goodsCode}
	</select>
		
	<delete id="deleteLike" parameterType="String">
  		delete from likes where goods_code = #{goodsCode} and member_code = #{memberCode}
  	</delete>
</mapper>  