<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.likeIt.mapper.LikeItMapper">
	<select id="selectList" parameterType="int" resultType="likeIt">
		select member_no,			   
	           l.book_no,	    
	           b.img,
	           b.name,
	           b.author,
	           b.comp,
	           b.price
		from book b, like_it l
		where member_no=${memberNo}
		and b.book_no=l.book_no
	</select>
	
	<insert id="insertLike" parameterType="int">
  		insert into likes values (#{memberCode}, #{goodsCode})
  	</insert>
  	
  	<select id="checkLike" resultType="likeIt" parameterType="int">
    	select * from like_it 
    	where member_no = #{memberNo} and book_no = #{bookNo}
	</select>
		
	<delete id="deleteLike" parameterType="int">
  		delete from like_it where book_no = #{bookNo} and member_no = #{memberNo}
  	</delete>
</mapper>  